.maskLayer .uiDocumentPreview .previewBtn .remoteEditBtn, .maskLayer .uiDocumentPreview .previewBtn .editInOfficeOnline {
  float: right;
  padding-left: 15px;
}

.maskLayer .uiDocumentPreview .previewBtn .editInOfficeOnline .uiIconEcmsOfficeOnlineOpen {
  color: #ffffff;
}

.detailContainer .editInOfficeOnline {
  margin-left: 6px !important;
}