.maskLayer .uiDocumentPreview .previewBtn .remoteEditBtn, .maskLayer .uiDocumentPreview .previewBtn .officeOnlineEditBtn {
  float: right;
  padding-left: 15px;
}

.maskLayer .uiDocumentPreview .previewBtn .officeOnlineEditBtn .uiIconEcmsOfficeOnlineOpen {
  color: #ffffff;
}